@charset "utf-8";
// If need, change your variables before importing Bulma
$body-background-color: 'rgb(37, 37, 37)';
$button-text-color: white;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "~video-react/styles/scss/video-react"; // or import scss

html {
  position: relative;
  background-color: rgb(37, 37, 37);
}

.hero a, p {
  color: white !important;
}

.button, input {
  z-index: 31;
  max-width: 400px !important;
  font-family: 'Roboto', sans-serif !important;
}

.container .card {
  background-color: rgb(37, 37, 37);
  box-shadow: none;
  color: white !important;
}

.container {
  //background-color: rgba(0,0,0,0.7) !important;
  padding: 20px;
}

.title, a {
  color: #8ad8f9 !important;
}

.subtitle {
  color: white !important;
}

.navbar-brand a {
  color: black !important;
  position: relative;
  top: 7px;
}

.navbar-item {
  //padding-left: 20px !important;
  font-size: min(max(13px, 1.5vw), 20px) !important;
  font-family: 'Roboto', sans-serif !important;
}

.logo {
  position: absolute;
  float: right;
  width: 30vw;
  top: 28px;
  right: 5vw;
  max-width: 250px;
  min-width: 150px;
}

@import '../node_modules/bulma';