@charset "utf-8";
// If need, change your variables before importing Bulma
$body-background-color: 'rgb(37, 37, 37)';
$button-text-color: white;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html {
  position: relative;
  background-color: rgb(37, 37, 37);
}

.hero a, p {
  color: white !important;
}

.button, input {
  z-index: 31;
}

.card {
  background-color: rgba(0,0,0,0.15);
}
.title, a {
  color: #8ad8f9 !important;
}

.subtitle {
  color: white !important;
}

.navbar-brand a {
  color: black !important;
  position: relative;
  top:7px;
}

.container .card {
  background-color: rgba(0,0,0,0) !important;
  color: white !important;
}

.navbar-item {
  padding-left: 20px !important;
  font-family: 'Roboto', sans-serif !important;
}

.logo {
  position: absolute;
  float: right;
  width: 30vw;
  top: 28px;
  right: 5vw;
  max-width: 300px;
  min-width: 170px;
}

input {
  text-align: center;
}

@import '../node_modules/bulma';